<link rel="stylesheet" type="text/css" href="css/mexico.css">
<div class = "green">
<pre>
Axel Telles Cervantes 
I am 19 years old. I have one brother and one sister. 
This year, I will graduate for River View High School.

- Games, Food, Python 

<img src = "img/axel.jpg" width = 250px"><br />
<img src = "img/butterfly1.png" width = 250px">
<img src = "img/butterfly2.png" width = 250px">
<img src = "img/butterfly3.png" width = 250px">



</pre>
</div>
