<link rel="stylesheet" type="text/css" href="css/mexico.css">
<div class = "orange">
<pre>
New Learning at Tri-Tech

In Cyber Security, I have learned about Linux, Cisco and Python. 
How they operate and how they can be manipulated. 
I’ve learned about coding and security protocols.

Retro Pi Project:
For the arcade style it is a different controller, the joystick controller. 
They have quite a few different joysticks you can build for under $50. 
The price range for the joystick I found were between $20 and $90.
<img src = "img/parts1.png"> 
<img src = "img/parts2.png"> 
</pre>
</div>
