<link rel="stylesheet" type="text/css" href="css/mexico.css">
<div class = "green">
Tri-Tech Successes <br />
One of my big successes was working on the Retro Pie. <br />
With the Retro Pie, I have been looking up different controllers that can be utilized. <br />
Retro Power 5 USB Classic Controller Pack seems like a good buy because of the versatility it offers.<br />

<img src = "img/retro1.jpg" width = 250px">
<img src = "img/retro2.jpg" width = 250px"><br /<>
<img src = "img/retro3.jpg" width = 250px">
<img src = "img/retro4.jpg" width = 250px"><br />
<img src = "img/retro5.jpg" width = 250px">
<img src = "img/retro6.jpg" width = 250px">

</div>
